<!-- Add you custom twig html here -->
<ul class="holiday-social-link">
    <li><a href="{{ facebook }}" target="_blank"><i class="fa fa-2x fa-facebook"></i></a></li>
    <li><a href="{{ instagram }}" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
    <li><a href="{{ vk }}" target="_blank"><i class="fa fa-2x fa-vk"></i></a></li>
</ul>